.listBody {
  width: 100%;
}

.listArea {
  width: 100%;
  height: 250px;
}

.lists {
  width: 100%;
  display: flex;
  margin: auto;
  overflow-x: scroll;
}

.refSection {
  margin-right: 5%;
}

.refSection:last-of-type {
  margin: 0;
}
