.PlayerModalArea {
  position: absolute;
  top: 0;
  z-index: 30;
}

.CoverVideo {
  position: absolute;
  margin-left: -7.5px;
  top: 0;
  width: 304px;
  height: 171px;
  cursor: pointer;
  z-index: 31;
  transform: scale(1.1);
}

.BlockVideo {
  position: absolute;
  margin-left: -7.5px;
  top: 0;
  width: 304px;
  height: 171px;
  z-index: 31;
  transform: scale(1.1);
  color: white;
}

.YTPlayer {
  margin-left: -7.5px;
  transform: scale(1.1);
}

p {
  /* position: absolute; */
  background-color: black;
  color: white;
}

a {
  cursor: pointer;
  color: blue;
}

a:hover {
  color: blanchedalmond;
}
