.ThumbnailArea {
  /* padding: 2% 0 2% 2%; */
}

.ThumbnailContainer {
  position: relative;
  margin: 6% auto;
  background-color: white;
}

.Thumbnails {
  width: 288px;
  height: 162px;
  cursor: pointer;
  border-radius: 15px;
}

.Title {
  max-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
}
