.ThumbnailArea {
  width: 384px;
  height: 216px;
  position: relative;
  margin: 30px 30px;
  z-index: 800;
}

.Thumbnails {
  width: 384px;
  height: 216px;
  cursor: pointer;
  box-shadow: 0 10px 20px gray;
}
