.ThumbnailArea {
  padding: 2% 0 2% 2%;
}

.ThumbnailContainer {
  position: relative;
  margin: 6% auto;
  background-color: black;
}

.Thumbnails {
  width: 288px;
  height: 162px;
  cursor: pointer;
  /* box-shadow: 0 10px 20px gray; */
}

p {
  /* max-height: 30px; */
  /* overflow: hidden; */
}
