.dropdownMenu {
  position: absolute;
  right: 0;
  width: 50%;
  height: 70%;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
  background-color: white;
  z-index: 999;
}

.userList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;

  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.userList .avatar {
  margin-right: 5px;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(178, 94, 223, 0.2);
  font-size: 25px;
  /* color: white; */
}

.userList::-webkit-scrollbar {
  display: none;
}

.usernames {
  display: flex;
  align-items: center;
  gap: 3px;
}

#myUsername {
  order: -1;
}

#myUsername .me {
  padding: 3px 1px;
  border-radius: 50%;
  background-color: #202020;
  font-size: 0.7rem;
  color: white;
}
