.header {
  border-bottom: 1px solid #ffffff;
  background-color: #000000;
  color: #ffffff;
  font-weight: bolder;
}

.header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1400px;
  height: 50px;
  margin: 0 auto;
  padding: 20px;
}
.header ul {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.header li + li {
  padding-left: 5px;
  border-left: 1px solid #ffffff;
}
.header a {
  color: inherit;
  padding: 20px 0;
}
