.playerContainer {
  position: relative;
  aspect-ratio: 16 / 9;
  width: 100%;
  min-width: 480px;
  height: auto;
}

.youtubeWrapper {
  position: relative;
  aspect-ratio: 16 / 9;
  width: 100%;
  min-width: 480px;
  height: auto;
}

.youtube {
  position: absolute;
  aspect-ratio: 16 / 9;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  min-width: 480px;
  height: 100%;
}

.playerClickArea {
  position: absolute;
  top: 0;
  left: 0;
  aspect-ratio: 16 / 9;
  min-width: 480px;
  z-index: 99;
  width: 100%;
  height: auto;
  cursor: pointer;
}

.playButton {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  z-index: 99;
  color: #ffffff;
  opacity: 0.3;
}

.playerClickArea:hover .playButton {
  display: block;
}

.videoTitle {
  position: absolute;
  bottom: -10%;
  transform: translateY(100%);
  margin: 20px;
  z-index: 9999;
  color: white;
}
