.Detail {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  height: auto;
  padding: 50px 50px 300px 50px;
  box-sizing: border-box;
}

.Flex {
  display: flex;
  justify-content: space-between;
}

.heading {
  color: GREEN;
  font-size: 50px;
  text-align: center;
  font-family: 'Rammetto One', cursive;
}

h2 {
  text-align: center;
}

.mainWrapper {
  display: flex;
  justify-content: center;
  gap: 50px;
}
