.message {
  text-align: center;
}

.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.93;
  padding: 20px;
}

#logo,
#logoLink {
  font-size: 2rem;
  font-family: 'Rammetto One', cursive;
  color: white;
  z-index: 9999999;
}

#logoLink:hover,
.closeBtn:hover {
  color: blanchedalmond;
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  padding: 10px;
  color: white;
  z-index: 999;
  cursor: pointer;
}

.Detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-color: white;
}

.Flex {
  display: flex;
  justify-content: space-between;
}

.mainWrapper {
  position: absolute;
  top: 150px;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1600px;
  height: auto;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 15px 15px 20px black;
  position: relative;
}

.join {
  position: absolute;
  z-index: 999;
}
